<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to yash's awesome store</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all',
                            'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="main">
      <%= image_tag 'logo.svg', alt: 'The Pragmatic Bookshelf' %>
      <h1><%= @page_title %></h1>
    </header>
    <section class="content">
      <nav class="side_nav">
        <ul>
          <li><a href="/">wificonnectauto</a></li>
          <li><a href="/questions">Simi qn</a></li>
          <li><a href="/news">Straits times</a></li>
          <li><a href="/contact">Callmemaybe</a></li>
        </ul>
      </nav>
			<main class='<%= controller.controller_name %>'>
        <%= yield %>
      </main>
    </section>
  </body>
</html>


